/* =========================
   VARIABLES
========================= */
:root {
  --rojo: #8f0000;
  --beige: #232222;
  --blanco: #ffffff;
  --gris: #555;
}

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BODY
========================= */
body {
  font-family: 'Poppins', sans-serif;
  background: var(--beige);
  color: #111;
  line-height: 1.4;
}

/* =========================
   HERO
========================= */
.hero {
  background-image: url("img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--beige);
  text-align: center;
  padding: 80px 20px;
}

.logo {
  width: 300px;
  margin-bottom: 10px;
  display:block;
  margin-left: 20px;
  top: 30%;
}

.frase {
  position:absolute;
  right: 100px;
  top:40%;
  transform: translateY(-50%);
  width: 600px;
  }

/* =========================
   BOTÓN
========================= */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: var(--beige);
  color: var(--rojo);
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.08);
}

/* =========================
   MENÚ
========================= */
.menu {
  padding: 50px 20px;
}

/* TÍTULO PRINCIPAL */
.menu h2 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.8rem;
  color: var(--rojo);
  margin-bottom: 30px;
}

/* =========================
   CATEGORÍAS
========================= */
.categoria {
  margin-bottom: 50px;
}

.categoria h3 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.8rem;
  color: var(--rojo);
  margin-bottom: 20px;
}

/* =========================
   GRID
========================= */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* =========================
   CARD
========================= */
.card {
  background: var(--blanco);
  width: 230px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-6px) scale(1.02);
}

/* IMAGEN */
.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* TITULO */
.card h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 6px;
}

/* DESCRIPCIÓN */
.card p {
  font-size: 0.85rem;
  color: var(--gris);
  margin-bottom: 10px;
  min-height: 60px;
}

/* PRECIO */
.card span {
  display: block;
  font-weight: bold;
  color: var(--rojo);
  font-size: 1.1rem;
  margin-top: auto;
}

/* DESTACADO */
.destacada {
  border: 2px solid var(--rojo);
  transform: scale(1.05);
}

.mapa {
  padding: 40px 20px;
  text-align: center;
  background: #111;
  color: white;
}

.mapa iframe {
  border-radius: 10px;
  margin-top: 15px;
}

/* =========================
   WHATSAPP
========================= */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--rojo);
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: 0.3s;
   display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.whatsapp img {
  width: 39px;
  height: 39px;
}

.whatsapp:hover {
  transform: scale(1.1);
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 600px) {

  .card {
    width: 90%;
  }

  .menu h2 {
    font-size: 2rem;
  }

  .categoria h3 {
    font-size: 1.5rem;
  }

  .logo {
    width: 140px;
  }
}